*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline: none;
    font-family:"Roboto",sans-serif;
}

.verificada{
    text-decoration: line-through;
}
.container{
    background-color:#d8d9d0 ;
    width: 100%;
    min-width: 365px;
    height: 100vh;
    margin: auto;
    
}

.cabecalho{
position: relative;
background-color: #d8d9d0;
}
.container h2{
    color: #6a7356;
    font-family: "Water Brush", cursive;
    font-size: 43px;
    font-weight: 900;
}

h1{
    color:#d47b64;
   font-family: "Water Brush", cursive;
   font-weight: 900;
   font-size: 38px;
}

.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos p{
    text-align: end;
    width: 100%;
    padding: 10px;
    font-size: 15px;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

form input{
    padding: 8px;
    width: 180px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    
}

form .add{
    padding: 0px;
    width: 40px;
    height: 40px;

    background-image: url("adiciona.png");
    background-size: cover;
    border-radius: 50%;
    margin-left: 5px;
    
    border: none;

}

.add img{
     width: 4px;
    height: 3px;
}
.subTitulos{
 
}
.total{
    text-align: end;
   background-color: #6a7356;
   padding: 5px;
   color: #d8d9d0;
   width: 95%;
   margin: auto;
   font-weight: 600;
   border-top-left-radius:5px ;
   border-top-right-radius:5px ;
}







.itemContainer{
    
    
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px #6a73565f;
}

.itemContainer button{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.itemContainer p{
    width: 110px;
    overflow-wrap: break-word; 
  word-break: break-word;
    padding: 5px;
    background-color: #fff;
    margin-right: 3px;
    font-size: 16px;
    
}

.nomeValor{
    display: flex;
    
    
}
.nomeValor span{
    margin-top:6px ;
}
.nomeValor input{
    margin-top: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    border: none;
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #eaeaf1;
}

.listaProdutos{
    margin: auto;
    width: 95%;
    padding: 5px;
    background-color: #fefae0;
    border-bottom-left-radius:5px ;
   border-bottom-right-radius:5px ;
  
}

.vegetais{
    position: absolute;
    width: 75px;
    left: 10%;
    top: 5px;
    opacity: 0.5;
}

.carrinho{
    position: absolute;
    width: 75px;
    left: 79%;
    top: 5px;
    opacity: 0.6;
}

.listaProdutos button{
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.listaProdutos button img{
    
    width: 25px;
    height: 25px;
}

.itemContainer input[type="checkbox"] {
    appearance: none;

    width: 43px;
    height: 41px;
    border-radius: 50%;
    border: solid 3px #ffb703;
    background-color: #fff;
    cursor: pointer;

}

.itemContainer input[type="checkbox"]:checked {
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #37f008;
    background-image: url("verificar.png");
    background-size: cover;
    
    
}



.excluir{
    background-color: rgba(255, 99, 71, 0.778);
}

.editar{
    background-color: rgba(100, 148, 237, 0.789);
}
.containerIcone{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61vh;
    position: relative;
    
   
}
.vazioIcone{
    width: 200px;
    
}

.absoluta{
    position: absolute;
    width: 60px;
    opacity: 0.6;
}

.cen{

    top: 27%;
    left: 7%;

}

.bro{
top: 30%;
left: 77%;
}

.lim{
top: 63%;
left: 5%;
}

.bis{
top: 65%;
left: 70%;
}

.cola{
    top: 10%;
}

.car{
    top: 80%;
}

.quant{
    width: 26px !important;
    background-color: #fcfcfc !important;
    border: solid 1px rgb(202, 197, 197) !important;
    margin-right: 3px;
    border-radius: 4px;
}