*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline: none;
    font-family:"Roboto",sans-serif;
}

.verificada{
    text-decoration: line-through;
}
.container{
    background-color:#d8d9d0 ;
    max-width: 365px;
    height: 100vh;
    margin: auto;
    
}

.cabecalho{
position: relative;
background-color: #d8d9d0;
}
.container h2{
    color: #6a7356;
    font-family: "Water Brush", cursive;
    font-size: 43px;
    font-weight: 900;
}

h1{
    color:#d47b64;
   font-family: "Water Brush", cursive;
   font-weight: 900;
   font-size: 38px;
}

.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos p{
    text-align: end;
    width: 100%;
    padding: 10px;
    font-size: 15px;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

form input{
    padding: 8px;
    border: none;
    border-radius: 8px;
}

form .add{
    
    width: 35px;
    height: 35px;
    font-size: 30px;
    border-radius: 50%;
    margin-left: 5px;
    color: #d8d9d0;
    background-color: #104911;
    border: none;

}
.subTitulos{
 
}
.total{
    text-align: end;
   background-color: #6a7356;
   padding: 3px;
   color: #d8d9d0;
   width: 96%;
   margin: auto;
}







.itemContainer{
    
    
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px #104911;
}

.itemContainer button{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.itemContainer p{
    width: 150px;
    height: 20px;
    padding: 5px;
    background-color: #fff;
    margin-right: 3px;
    font-size: 16px;
}

.nomeValor{
    display: flex;
}
.nomeValor span{
    margin-top:6px ;
}
.nomeValor input{
    margin-top: 5px;
    width: 40px;
    height: 20px;
    text-align: center;
    border: none;
    font-size: 15px;
    padding: 2px;
    font-weight: 600;
    background-color: #eaeaf1;
}

.listaProdutos{
    margin: auto;
    width: 95%;
    padding: 5px;
    background-color: #fefae0;
}

.vegetais{
    position: absolute;
    width: 70px;
    left: 40px;
    top: 15px;
    opacity: 0.5;
}

.carrinho{
    position: absolute;
    width: 70px;
    left: 270px;
    top: 15px;
    opacity: 0.6;
}

.listaProdutos button{
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listaProdutos button img{
    
    width: 25px;
    height: 25px;
}

.itemContainer input[type="checkbox"] {
    appearance: none;

    width: 43px;
    height: 41px;
    border-radius: 50%;
    border: solid 1px #ffb703;
    background-color: #fff;
    cursor: pointer;

}

.itemContainer input[type="checkbox"]:checked {
    display: flex;
    align-items: center;
   justify-content: center;
    border: solid 1px #000400;
    background-color: #37f008;
    
    
}

.itemContainer input[type="checkbox"]:checked::after {
    content: "";
    width: 40px;
    height: 38px;
    background-image: url("verificar.png");
    background-size: cover;
    

}

.excluir{
    background-color: rgba(255, 99, 71, 0.778);
}

.editar{
    background-color: rgba(100, 148, 237, 0.789);
}
.containerIcone{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.vazioIcone{
    width: 200px;
    
}