.editarContainer{
     background-color: #104911c8;
     height: 100dvh;
     display: flex;
     align-items: center;
     justify-content: center;
}

.editarForm{
    background-color: #62735647;;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px;
    border-radius: 10px;
}

.editarTitulo{
    display: flex;
    gap: 10px;
}

.editarTitulo img{
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.containerBtn{
display: flex;
margin-top: 10px;
gap: 5px;

}

.containerBtn button{
width: 100px;
height: 30px;
border-radius: 8px;
border: none;


}

.confirmar{
    background-color: rgb(48, 173, 6);
    color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}

.cancelar{
    background-color: tomato;
}

.cancelar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    font-weight: 600;

}